<!doctype html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="color-scheme" content="light dark">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0,viewport-fit=cover">
    <title>经课</title>
    <style>
        body{
            margin: 0px;
        }
    </style>

</head>
<body>
<div class="body">
    <section data-role="outer" label="Powered by 135editor.com onekey" style="background-repeat: repeat; background-position: left top; padding: 10px; background-size: auto; background-image: url(https://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpel9wbmcvN1FSVHZrSzJxQzdiNzVhR1pnaWEzODE2MGZjTUdpYnRzOEFKMkxpY2Jza2dRY1lTaWNpYnNwOU93Y2pvVmlhS2RlT1VtRUlhU240aWJyTnI3bFRQdzNyRGZpYjJOUS8wP3d4X2ZtdD1wbmc=); box-sizing: border-box;" class="js_darkmode__bg__180 js_darkmode__bg__184 js_darkmode__bg__189 js_darkmode__bg__195">
        <section class="_135editor assistant" data-tools="135编辑器" data-id="101529">
            <section style="margin: 10px auto;">
                <section style="display: inline-block;">
                    <section style="margin-right: 6px;">
                        <section style="box-sizing:border-box;width: 45px;">
                            <img class="assistant" style="box-sizing:border-box;width: 100%;display: block;" src="http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpel9wbmcvRklCWmVjN3VjQ2hoeGdtbDlzNDJXMFJxOUpteVFOcGs5NDVFUDN0MWI5OFNVaWJmNHVCZHBWNlVCWEFaYk44Wm1iMmExZnB5UVlwdkRjQ2xMRFdrSFNBLzA/d3hfZm10PXBuZw==" data-ratio="0.9195402298850575" data-w="87" data-width="100%"/>
                        </section>
                        <section style="border-right: 3px solid #d41825; border-bottom: 2px solid #d41825; margin-top: -30px; box-sizing: border-box;">
                            <section style="display: flex;justify-content: flex-start;align-items: flex-end;background: #fff7f3;padding: 7px 0px;">
                                <section class="135brush" data-brushtype="text" style="font-size: 14px; letter-spacing: 1.5px; padding: 0px 2em 0px 4em; color: #e31617; font-weight: bold; box-sizing: border-box;" hm_fix="198:641">
                                    每日经课||2021-01-13
                                </section>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </section>
        <section class="_135editor" data-tools="135编辑器" data-id="90590" >
            <section style="padding:10px 10px;">
                <section style="padding:10px 10px; box-shadow:0px 0px 5px #999;">
                    <section style="border-width: 10px; border-style:solid;-webkit-border-image: url(https://bdn.135editor.com/files/images/editor_styles/36dd135db049724ff3a625f5c89da51e.jpg) 20;" class="js_darkmode__bg__93 js_darkmode__bg__281">
                        <section style="box-sizing:border-box;width:100%; text-align:center; font-size:22px; color:#73716f;" data-width="100%">
                            {% for row in result.list %}
                                <span style="font-size: 15px;">{{row["FullName"]}}:{{row["NChapter"]}}</span></br>
                            {% endfor %}
                        </section>
                    </section>
                </section>
            </section>
        </section>
        {% for row in result.list %}
        <section class="_135editor" data-tools="135编辑器" data-id="101536">
            <section style="margin: 10px 0;text-align: center;">
                <section style="display: inline-flex;justify-content: center;align-items: center;">
                    <section class="assistant" style="box-sizing:border-box;width: 45px;margin-left: -45px;transform: translate(45px, -14px);-webkit-transform: translate(45px, -14px);-moz-transform: translate(45px, -14px);-ms-transform: translate(45px, -14px);-o-transform: translate(45px, -14px);">
                        <img class="assistant" style="box-sizing:border-box;width: 100%;display: block;" src="http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpel9wbmcvRklCWmVjN3VjQ2hoeGdtbDlzNDJXMFJxOUpteVFOcGtXRlVUY1NSMEFrb2toekp3NkpIMjM3MXBva1NNNlZLTExSbG9RYkhHRTVvYkhMcW1BdUxRbWcvMD93eF9mbXQ9cG5n" alt="" data-ratio="0.7471264367816092" data-w="87" data-width="100%"/>
                    </section>
                    <section style="display: inline-block; border: 1px solid #e04740; padding: 4px; border-radius: 30px; box-sizing: border-box;">
                        <section class="135brush js_darkmode__bg__14 js_darkmode__bg__188 js_darkmode__bg__190 js_darkmode__bg__196" data-brushtype="text" style="display: inline-block;padding: .5em 30px;font-size: 16px;letter-spacing: 1.5px;color: #f8d8c3;border-radius: 30px;background: url(http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpel9wbmcvRklCWmVjN3VjQ2hoeGdtbDlzNDJXMFJxOUpteVFOcGtlaWJZeDdnN1ByaDBNaWF0MEVObXdhNmg4NWRJTWcxWVdpYmVleGNmZ0ozYVRDM2tlRlFwbTlpY3RnLzA/d3hfZm10PXBuZw==) no-repeat center/100% 100%;">
                            {{row["FullName"]}}:{{row["NChapter"]}}
                        </section>
                    </section>
                </section>
            </section>
        </section>
        <p style="text-align:justify;  font-size: 14px; line-height: 2; padding-right: 10px; padding-left: 10px; margin: 15px 0%; box-sizing: border-box;;" align="justify">
            <span style="caret-color: red;">69:1. 神啊，求你救我！因为众水要淹没我。69:2.我陷在深淤泥中，没有立脚之地；我到了深水中，大水漫过我身。69:3.我因呼求困乏，喉咙发干；我因等候 神，眼睛失明。69:4.无{{row["Text"]}}</span>
        </p>
        {% endfor %}
        <section class="_135editor" data-tools="135编辑器" data-id="101536">
            <section style="margin: 10px 0;text-align: center;">
                <section style="display: inline-flex;justify-content: center;align-items: center;">
                    <section class="assistant" style="box-sizing:border-box;width: 45px;margin-left: -45px;transform: translate(45px, -14px);-webkit-transform: translate(45px, -14px);-moz-transform: translate(45px, -14px);-ms-transform: translate(45px, -14px);-o-transform: translate(45px, -14px);">
                        <img class="assistant" style="box-sizing:border-box;width: 100%;display: block;" src="http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpel9wbmcvRklCWmVjN3VjQ2hoeGdtbDlzNDJXMFJxOUpteVFOcGtXRlVUY1NSMEFrb2toekp3NkpIMjM3MXBva1NNNlZLTExSbG9RYkhHRTVvYkhMcW1BdUxRbWcvMD93eF9mbXQ9cG5n" alt="" data-ratio="0.7471264367816092" data-w="87" data-width="100%"/>
                    </section>
                    <section style="display: inline-block; border: 1px solid rgb(224, 71, 64); padding: 4px; border-radius: 30px; box-sizing: border-box;">
                        <section class="135brush js_darkmode__bg__182 js_darkmode__bg__186 js_darkmode__bg__192 js_darkmode__bg__197" data-brushtype="text" style="display: inline-block;padding: .5em 30px;font-size: 16px;letter-spacing: 1.5px;color: #f8d8c3;border-radius: 30px;background: url(http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpel9wbmcvRklCWmVjN3VjQ2hoeGdtbDlzNDJXMFJxOUpteVFOcGtlaWJZeDdnN1ByaDBNaWF0MEVObXdhNmg4NWRJTWcxWVdpYmVleGNmZ0ozYVRDM2tlRlFwbTlpY3RnLzA/d3hfZm10PXBuZw==) no-repeat center/100% 100%;" data-markdown="">
                            END
                        </section>
                    </section>
                </section>
            </section>
        </section>
        
    </section>
</div>
</body>
</html>