<!doctype html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="color-scheme" content="light dark">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0,viewport-fit=cover">
    <title>经课</title>
    <style>
        .chapter{
            padding: 5px;
            border: 1px solid #eee;
            border-radius: 15px;
            margin-top: 5px;
        }
    </style>
</head>
<body>
<div class="body red">
    <div>每日经课</div>
    <div>        
        <div>诗篇:69:1-5,30-36</div>
        <div>出埃及记:30:22-38</div>
        <div>使徒行传:22:2-16</div>
    </div>
    <div class="chapter">
        <div class="title">诗篇:69:1-5,30-36</div>
        <div class="context">
             69:1.　神啊，求你救我！因为众水要淹没我。69:2.我陷在深淤泥中，没有立脚之地；我到了深水中，大水漫过我身。69:3.我因呼求困乏，喉咙发干；我因等候　神，眼睛失明。69:4.无故恨我的，比我头发还多；无理与我为仇、要把我剪除的，甚为强盛。我没有抢夺的，要叫我偿还。69:5.　神啊，我的愚昧，你原知道；我的罪愆不能隐瞒。69:30.我要以诗歌赞美　神的名，以感谢称他为大！69:31.这便叫耶和华喜悦，胜似献牛，或是献有角有蹄的公牛。69:32.谦卑的人看见了就喜乐；寻求　神的人，愿你们的心苏醒。69:33.因为耶和华听了穷乏人，不藐视被囚的人。69:34.愿天和地、洋海和其中一切的动物都赞美他！69:35.因为　神要拯救锡安，建造犹大的城邑；他的民要在那里居住，得以为业。69:36.他仆人的后裔要承受为业；爱他名的人也要住在其中。
        </div>
    </div>
    <div class="chapter">
        <div class="title">出埃及记:30:22-38</div>
        <div class="context">
            30:22.耶和华晓谕摩西说：30:23.“你要取上品的香料，就是流质的没药五百舍客勒，香肉桂一半，就是二百五十舍客勒，菖蒲二百五十舍客勒，30:24.桂皮五百舍客勒，都按着圣所的平，又取橄榄油一欣，30:25.按做香之法调和做成圣膏油。30:26.要用这膏油抹会幕和法柜，30:27.桌子与桌子的一切器具，灯台和灯台的器具，并香坛、30:28.燔祭坛，和坛的一切器具，洗濯盆和盆座。30:29.要使这些物成为圣，好成为至圣；凡挨着的都成为圣。30:30.要膏亚伦和他的儿子，使他们成为圣，可以给我供祭司的职分。30:31.你要对以色列人说：‘这油，我要世世代代以为圣膏油。30:32.不可倒在别人的身上，也不可按这调和之法做与此相似的。这膏油是圣的，你们也要以为圣。30:33.凡调和与此相似的，或将这膏膏在别人身上的，这人要从民中剪除。’”30:34.耶和华吩咐摩西说：“你要取馨香的香料，就是拿他弗、施喜列、喜利比拿；这馨香的香料和净乳香各样要一般大的分量。30:35.你要用这些加上盐，按做香之法做成清净圣洁的香。30:36.这香要取点捣得极细，放在会幕内、法柜前，我要在那里与你相会。你们要以这香为至圣。30:37.你们不可按这调和之法为自己做香；要以这香为圣，归耶和华。30:38.凡做香和这香一样，为要闻香味的，这人要从民中剪除。”
        </div>
    </div>
</div>
</body>
</html>