<!doctype html>

<html>

<style>
   body {
       overflow-x: hidden;
       background-color: #fff;
       color: #000;
       margin: 0;
       font-family: "Calibri",Arial,sans-serif;
       padding: 0;
       margin: 0;
       font-size: 16px;
   }
   .site-wrap {
       background-color: #f9f9f9;
       margin: 35px auto;
       width: 833px;
   }
   .site-wrap {
       background-color: #fff;
       position: relative;
       top: 0;
       left: 0;
       right: 0;
       z-index: 1;
       padding: 0;
   }
    * {
        margin: 0;
        padding: 0;
    }
    .rich_media_title {
        font-size: 22px;
        line-height: 1.4;
        margin-bottom: 14px;
        font-weight: 400;
    }
    .rich_media_area_primary_inner {
        max-width: 677px;
        margin: auto;
    }
    * {
        max-width: 100%!important;
    }






</style>
<body>
<div class="rich_media_area_primary_inner">
    <div>
        <div style="width: 578px !important;margin: auto;">
            <h2 class="rich_media_title" id="activity-name">
                每日经课|||2020.12.18
            </h2>
        </div>
    </div>
    <p style="text-align: center;">
        <img class="rich_pages "
             style="width: 578px !important; height: auto !important; visibility: visible !important;"
             src="static/image/1.png"
             alt="图片">
    </p>
    <section powered-by="xiumi.us"
             style="margin-top: 10px;margin-bottom: 10px;font-size: 16px;white-space: normal;text-align: center;box-sizing: border-box;">
        <section
                style="display: inline-block;width: auto;vertical-align: top;min-width: 10%;max-width: 100%;height: auto;box-sizing: border-box;">
            <section powered-by="xiumi.us" style="box-sizing: border-box;">
                <section
                        style="margin-bottom: 2px;text-align: left;justify-content: flex-start;display: flex;flex-flow: row nowrap;box-sizing: border-box;">
                    <section
                            style="display: inline-block;vertical-align: bottom;width: 69.075px;align-self: flex-end;flex: 0 0 auto;height: auto;box-sizing: border-box;">
                        <section powered-by="xiumi.us" style="box-sizing: border-box;">
                            <section style="background-color: rgb(190, 220, 228);height: 3px;box-sizing: border-box;">
                                <section>
                                    <svg viewBox="0 0 1 1"
                                         style="float:left;line-height:0;width:0;vertical-align:top;"></svg>
                                </section>
                            </section>
                        </section>
                    </section>
                    <section
                            style="margin-left: 6px;display: inline-block;vertical-align: bottom;width: 3px;align-self: flex-end;flex: 0 0 auto;height: auto;box-sizing: border-box;">
                        <section powered-by="xiumi.us" style="box-sizing: border-box;">
                            <section style="background-color: rgb(190, 220, 228);height: 3px;box-sizing: border-box;">
                                <section>
                                    <svg viewBox="0 0 1 1"
                                         style="float:left;line-height:0;width:0;vertical-align:top;"></svg>
                                </section>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
            <section powered-by="xiumi.us"
                     style="color: rgb(62, 62, 62);letter-spacing: 2px;font-family: PingFangTC-ultralight;font-size: 20px;text-align: left;box-sizing: border-box;">
                <p style="margin-bottom: 5px;text-align: center;box-sizing: border-box;"><span
                        style="font-size: 18px;box-sizing: border-box;">诗篇89:1-4,19-26</span></p>
                <p style="margin-bottom: 5px;text-align: center;box-sizing: border-box;"><span
                        style="font-size: 18px;box-sizing: border-box;">撒母耳记下6:12-19</span></p>
                <p style="text-align: center;box-sizing: border-box;"><span
                        style="font-size: 18px;box-sizing: border-box;">希伯来书1:5-14</span>
                </p></section>
            <section powered-by="xiumi.us" style="box-sizing: border-box;">
                <section
                        style="margin-top: 2px;text-align: right;justify-content: flex-end;display: flex;flex-flow: row nowrap;box-sizing: border-box;">
                    <section
                            style="margin-right: 6px;display: inline-block;vertical-align: bottom;width: 3px;align-self: flex-end;flex: 0 0 auto;height: auto;box-sizing: border-box;">
                        <section powered-by="xiumi.us" style="box-sizing: border-box;">
                            <section style="background-color: rgb(190, 220, 228);height: 3px;box-sizing: border-box;">
                                <section>
                                    <svg viewBox="0 0 1 1"
                                         style="float:left;line-height:0;width:0;vertical-align:top;"></svg>
                                </section>
                            </section>
                        </section>
                    </section>
                    <section
                            style="display: inline-block;vertical-align: bottom;width: 69.075px;align-self: flex-end;flex: 0 0 auto;height: auto;box-sizing: border-box;">
                        <section powered-by="xiumi.us" style="box-sizing: border-box;">
                            <section style="background-color: rgb(190, 220, 228);height: 3px;box-sizing: border-box;">
                                <section>
                                    <svg viewBox="0 0 1 1"
                                         style="float:left;line-height:0;width:0;vertical-align:top;"></svg>
                                </section>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </section>
        <br></section>

    <section powered-by="xiumi.us"
             style="font-size: 16px;white-space: normal;text-align: center;transform: translate3d(1px, 0px, 0px);box-sizing: border-box;">
        <section
                style="display: inline-block;width: 45px;height: 45px;vertical-align: top;overflow: hidden;border-radius: 100%;border-width: 0px;border-style: none;border-color: rgb(62, 62, 62);background-color: rgba(151, 194, 198, 0.58);box-sizing: border-box;">
            <section powered-by="xiumi.us" style="text-align: justify;box-sizing: border-box;"><p
                    style="box-sizing: border-box;"><br style="box-sizing: border-box;"></p></section>
        </section>
    </section>

    <section powered-by="xiumi.us"
             style="margin-top: -20px;font-size: 16px;white-space: normal;text-align: center;box-sizing: border-box;">
        <section
                style="padding: 10px;display: inline-block;width: 520.2px;vertical-align: top;border-width: 1px;height: auto;background-attachment: scroll;background-position: 0% 0%;background-repeat: repeat;background-size: 16.4471%;border-style: solid;border-radius: 0px;border-color: rgb(154, 197, 213);background-image: url(static/image/640.png);box-sizing: border-box;">
            <section powered-by="xiumi.us" style="margin-top: 15px;box-sizing: border-box;">
                <section
                        style="display: inline-block;width: 473.288px;vertical-align: top;border-style: dotted;border-width: 1px;border-radius: 0px;border-color: transparent;box-sizing: border-box;">
                    <section powered-by="xiumi.us" style="box-sizing: border-box;">
                        <section
                                style="margin-top: 30px;margin-bottom: 15px;align-items: center;display: flex;justify-content: center;box-sizing: border-box;">
                            <section
                                    style="display: inline-block;vertical-align: bottom;width: auto;flex: 0 0 auto;min-width: 10%;max-width: 100%;height: auto;box-sizing: border-box;">
                                <section powered-by="xiumi.us" style="box-sizing: border-box;">
                                    <section
                                            style="align-items: center;display: flex;transform: rotateY(180deg);box-sizing: border-box;">
                                        <section
                                                style="display: inline-block;vertical-align: bottom;width: auto;flex: 1 1 auto;box-shadow: rgb(76, 105, 149) 0px 0px 0px;box-sizing: border-box;">
                                            <section powered-by="xiumi.us"
                                                     style="margin-top: 0.5em;margin-bottom: 0.5em;box-sizing: border-box;">
                                                <section
                                                        style="border-top: 1px dashed rgb(74, 153, 212);box-sizing: border-box;">
                                                    <section>
                                                        <svg viewBox="0 0 1 1"
                                                             style="float:left;line-height:0;width:0;vertical-align:top;"></svg>
                                                    </section>
                                                </section>
                                            </section>
                                        </section>
                                        <section
                                                style="display: inline-block;vertical-align: bottom;width: auto;flex: 0 0 auto;box-shadow: rgb(76, 105, 149) 0px 0px 0px;line-height: 0;letter-spacing: 0px;box-sizing: border-box;">
                                            <section powered-by="xiumi.us"
                                                     style="transform: rotateZ(45deg);box-sizing: border-box;">
                                                <section style="box-sizing: border-box;">
                                                    <section
                                                            style="display: inline-block;width: 9px;height: 9px;vertical-align: top;overflow: hidden;background-color: rgba(151, 194, 198, 0.58);border-width: 1px;border-radius: 0px;border-style: solid;border-color: rgb(74, 153, 212);box-shadow: rgb(255, 255, 255) 1px 1px 0px inset;line-height: 0;letter-spacing: 0px;box-sizing: border-box;">
                                                        <section powered-by="xiumi.us"
                                                                 style="text-align: justify;box-sizing: border-box;"><p
                                                                style="box-sizing: border-box;"><br
                                                                style="box-sizing: border-box;"></p></section>
                                                    </section>
                                                </section>
                                            </section>
                                        </section>
                                    </section>
                                </section>
                            </section>
                            <section
                                    style="padding-right: 10px;padding-left: 10px;display: inline-block;vertical-align: bottom;width: auto;flex: 0 1 auto;box-sizing: border-box;">
                                <section powered-by="xiumi.us"
                                         style="text-align: justify;font-size: 18px;color: rgb(107, 190, 217);letter-spacing: 1px;box-sizing: border-box;">
                                    <p style="box-sizing: border-box;"><strong style="box-sizing: border-box;">诗篇89：1-4，19-26</strong>
                                    </p></section>
                            </section>
                            <section
                                    style="display: inline-block;vertical-align: bottom;width: auto;flex: 0 0 auto;min-width: 10%;max-width: 100%;height: auto;box-sizing: border-box;">
                                <section powered-by="xiumi.us" style="box-sizing: border-box;">
                                    <section style="align-items: center;display: flex;box-sizing: border-box;">
                                        <section
                                                style="display: inline-block;vertical-align: bottom;width: auto;flex: 1 1 auto;border-width: 0px;box-shadow: rgb(76, 105, 149) 0px 0px 0px;box-sizing: border-box;">
                                            <section powered-by="xiumi.us"
                                                     style="margin-top: 0.5em;margin-bottom: 0.5em;box-sizing: border-box;">
                                                <section
                                                        style="border-top: 1px dashed rgb(74, 153, 212);box-sizing: border-box;">
                                                    <section>
                                                        <svg viewBox="0 0 1 1"
                                                             style="float:left;line-height:0;width:0;vertical-align:top;"></svg>
                                                    </section>
                                                </section>
                                            </section>
                                        </section>
                                        <section
                                                style="display: inline-block;vertical-align: bottom;width: auto;flex: 0 0 auto;box-shadow: rgb(76, 105, 149) 0px 0px 0px;line-height: 0;letter-spacing: 0px;box-sizing: border-box;">
                                            <section powered-by="xiumi.us"
                                                     style="transform: rotateZ(45deg);box-sizing: border-box;">
                                                <section style="box-sizing: border-box;">
                                                    <section
                                                            style="display: inline-block;width: 9px;height: 9px;vertical-align: top;overflow: hidden;background-color: rgba(151, 194, 198, 0.58);border-width: 1px;border-radius: 0px;border-style: solid;border-color: rgb(74, 153, 212);box-shadow: rgb(255, 255, 255) 1px 1px 0px inset;line-height: 0;letter-spacing: 0px;box-sizing: border-box;">
                                                        <section powered-by="xiumi.us"
                                                                 style="text-align: justify;box-sizing: border-box;"><p
                                                                style="box-sizing: border-box;"><br></p></section>
                                                    </section>
                                                </section>
                                            </section>
                                        </section>
                                    </section>
                                </section>
                            </section>
                        </section>
                    </section>
                    <section powered-by="xiumi.us" style="line-height: 1.5;letter-spacing: 1px;box-sizing: border-box;">
                        {% for row in rows %}
                        <p style="margin-right: 8px;margin-left: 8px;text-align: left;line-height: 2em;"><span
                                style="font-size: 17px;">{{row["ID"]}}.{{row["Lection"]}}</span></p>
                        {% endfor %}
                    </section>
                </section>
            </section>
        </section>

</div>
</body>
</html>